In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np

In [2]:
from matplotlib.pyplot import rcParams

rcParams['figure.figsize'] = 12, 6
rcParams["font.weight"] = "bold"
rcParams["axes.labelweight"] = "bold"
rcParams["font.size"] = 10

In [25]:
df_placas = pd.read_excel('placas_solares.xlsx')

df_placas

,CENTRO,USO,Coordenada-X,Coordenada-Y,Latitud,Longitud,POTENCIA KWP,AÑO,MES,CÁLCULO,ENERGÍA PRODUCIDA KWh
0,MADRID EMPRENDE,administrativo,436689.0,4468938.0,40.368616,-3.74573026512817,10.0,2019,enero,Estimación,1004.400
1,MARES MADRID,administrativo,443153.0,4471330.0,40.390628,-3.669802,7.0,2019,enero,Estimación,703.080
2,NAVE BOETTICHER,administrativo,440849.0,4466524.0,40.347177,-3.696499,5.0,2019,enero,Estimación,502.200
3,AULA DE LA NATURALEZA DEHESA DE LA VILLA,medioambiental,439102.0,4478967.0,40.459141,-3.718270563679260,2.5,2019,enero,Estimación,251.100
4,VIVERO MUNICIPAL DE ESTUFAS DEL RETIRO,medioambiental,441779.0,4473428.0,40.409435,-3.6861797800993200,5.0,2019,enero,Estimación,502.200
...,...,...,...,...,...,...,...,...,...,...,...
4973,OAIC SACRAMENTO AGENCIA TRIBUTARIA,administrativo,439688.2,4474009.8,40.414526,-3.7108752639004567,8.0,2023,marzo,Estimación,1330.272
4974,BASE SAMUR 4,sanitario,445135.7,4475423.6,40.427640,-3.6467931482127414,2.0,2023,marzo,Estimación,332.568
4975,Vivero de la Casa de Campo,medioambiental,438625.6,4474696.0,40.420630,-3.723464689280627,NaN,2023,marzo,Medición,681.000
4976,CMM SAN DIEGO,social,443704.6,4471139.1,40.388947,-3.6630476297262975,10.0,2023,marzo,Estimación,1662.840
4977,CSS CENTRO DE DÍA Y ALZHEIMER ENSANCHE DE VALL...,social,449246.7,4468156.3,40.362464,-3.597762173364828,8.0,2023,marzo,Estimación,1330.272

In [26]:
df_placas.isna().sum()

CENTRO                   2
USO                      2
Coordenada-X             2
Coordenada-Y             2
Latitud                  2
Longitud                 2
POTENCIA KWP             3
AÑO                      0
MES                      0
CÁLCULO                  0
ENERGÍA PRODUCIDA KWh    0
dtype: int64

In [27]:
df_placas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4978 entries, 0 to 4977
Data columns (total 11 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   CENTRO                 4976 non-null   object
 1   USO                    4976 non-null   object
 2   Coordenada-X           4976 non-null   float64
 3   Coordenada-Y           4976 non-null   float64
 4   Latitud                4976 non-null   float64
 5   Longitud               4976 non-null   object
 6   POTENCIA KWP           4975 non-null   float64
 7   AÑO                    4978 non-null   int64
 8   MES                    4978 non-null   object
 9   CÁLCULO                4978 non-null   object
 10  ENERGÍA PRODUCIDA KWh  4978 non-null   float64
dtypes: float64(5), int64(1), object(5)
memory usage: 427.9+ KB

In [30]:
df_placas["MES"].isna()

0       False
1       False
2       False
3       False
4       False
        ...
4973    False
4974    False
4975    False
4976    False
4977    False
Name: MES, Length: 4978, dtype: bool

In [31]:
df_placas["MES"].isna().sum()

0

In [33]:
df_placas["MES"][df_placas["MES"].isna()]

Series([], Name: MES, dtype: object)

In [34]:
df_placas[4:3300][["MES", "AÑO", "ENERGÍA PRODUCIDA KWh"]]

        MES   AÑO  ENERGÍA PRODUCIDA KWh
4     enero  2019               502.2000
5     enero  2019               502.2000
6     enero  2019               502.2000
7     enero  2019              2008.8000
8     enero  2019               602.6400
...     ...   ...                    ...
3295  enero  2022              2008.8000
3296  enero  2022               602.6400
3297  enero  2022               992.3472
3298  enero  2022               502.2000
3299  enero  2022              3515.4000

[3296 rows x 3 columns]

In [35]:
df_placas.drop(df_placas.dropna().index)

,CENTRO,USO,Coordenada-X,Coordenada-Y,Latitud,Longitud,POTENCIA KWP,AÑO,MES,CÁLCULO,ENERGÍA PRODUCIDA KWh
3076,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2021,noviembre,Estimación,748.440
3182,NaN,NaN,NaN,NaN,NaN,NaN,7.0,2021,diciembre,Estimación,679.644
4727,Vivero de la Casa de Campo,medioambiental,438625.6,4474696.0,40.42063,-3.723464689280627,NaN,2023,enero,Medición,345.000
4850,Vivero de la Casa de Campo,medioambiental,438625.6,4474696.0,40.42063,-3.723464689280627,NaN,2023,febrero,Medición,448.000
4975,Vivero de la Casa de Campo,medioambiental,438625.6,4474696.0,40.42063,-3.723464689280627,NaN,2023,marzo,Medición,681.000

In [36]:
# No hay nada que limpiar
df_placas.shape[0] - 5

4973

In [37]:
df_solar_filt = df_placas.dropna().reset_index(drop=True)
df_solar_filt

,CENTRO,USO,Coordenada-X,Coordenada-Y,Latitud,Longitud,POTENCIA KWP,AÑO,MES,CÁLCULO,ENERGÍA PRODUCIDA KWh
0,MADRID EMPRENDE,administrativo,436689.0,4468938.0,40.368616,-3.74573026512817,10.0,2019,enero,Estimación,1004.400000
1,MARES MADRID,administrativo,443153.0,4471330.0,40.390628,-3.669802,7.0,2019,enero,Estimación,703.080000
2,NAVE BOETTICHER,administrativo,440849.0,4466524.0,40.347177,-3.696499,5.0,2019,enero,Estimación,502.200000
3,AULA DE LA NATURALEZA DEHESA DE LA VILLA,medioambiental,439102.0,4478967.0,40.459141,-3.718270563679260,2.5,2019,enero,Estimación,251.100000
4,VIVERO MUNICIPAL DE ESTUFAS DEL RETIRO,medioambiental,441779.0,4473428.0,40.409435,-3.6861797800993200,5.0,2019,enero,Estimación,502.200000
...,...,...,...,...,...,...,...,...,...,...,...
4968,CDM HORTALEZA,deportivo,444781.7,4481144.5,40.479153,-3.6514634536929598,99.4,2023,marzo,Medición,11249.600586
4969,OAIC SACRAMENTO AGENCIA TRIBUTARIA,administrativo,439688.2,4474009.8,40.414526,-3.7108752639004567,8.0,2023,marzo,Estimación,1330.272000
4970,BASE SAMUR 4,sanitario,445135.7,4475423.6,40.427640,-3.6467931482127414,2.0,2023,marzo,Estimación,332.568000
4971,CMM SAN DIEGO,social,443704.6,4471139.1,40.388947,-3.6630476297262975,10.0,2023,marzo,Estimación,1662.840000
4972,CSS CENTRO DE DÍA Y ALZHEIMER ENSANCHE DE VALL...,social,449246.7,4468156.3,40.362464,-3.597762173364828,8.0,2023,marzo,Estimación,1330.272000

### Análisis exploratorio, tratamiento y limpieza de datos

In [38]:
df_solar_filt.describe()

,Coordenada-X,Coordenada-Y,Latitud,POTENCIA KWP,AÑO,ENERGÍA PRODUCIDA KWh
count,4973.000000,4.973000e+03,4973.000000,4973.000000,4973.000000,4973.000000
mean,442377.760728,4.473926e+06,40.413793,16.769704,2020.822441,2289.675351
std,4044.214816,4.593500e+03,0.041492,16.313828,1.221144,2417.932513
min,433934.000000,4.465148e+06,40.334752,2.000000,2019.000000,-13.200000
25%,439603.000000,4.470233e+06,40.380148,7.000000,2020.000000,885.600000
50%,442243.000000,4.473366e+06,40.409341,12.000000,2021.000000,1506.111750
75%,445584.000000,4.476508e+06,40.436863,20.000000,2022.000000,2855.250000
max,451431.000000,4.484225e+06,40.506657,100.000000,2023.000000,23800.000000

In [39]:
# consultar el tipo de datos
df_solar_filt.dtypes

CENTRO                    object
USO                       object
Coordenada-X             float64
Coordenada-Y             float64
Latitud                  float64
Longitud                  object
POTENCIA KWP             float64
AÑO                        int64
MES                       object
CÁLCULO                   object
ENERGÍA PRODUCIDA KWh    float64
dtype: object

In [40]:
df_solar_filt.dtypes[df_solar_filt.dtypes == "object"]

CENTRO      object
USO         object
Longitud    object
MES         object
CÁLCULO     object
dtype: object

In [41]:
# esto no hace falta
df_solar_filt['Longitud'].value_counts()

Longitud
-3.74573026512817      51
-3.621281890570370     51
-3.6662090478322400    51
-3.6691167784691700    51
-3.6709293330780200    51
                       ..
-3.6569793922460585     3
-3.6731747821526333     3
-3.6467931482127414     3
-3.6630476297262975     2
-3.597762173364828      2
Name: count, Length: 126, dtype: int64

In [45]:
df_solar_filt["CENTRO"].value_counts()

CENTRO
MADRID EMPRENDE                                       51
CENTRO DE ACOGIDA MUNICIPAL PUERTA ABIERTA            51
CC EDUARDO CHILLIDA Y BIBLIOTECA MIGUEL DELIBES       51
EI SABINA (MORATALAZ)                                 51
CMM/CENTRO DIA/CSS LA GUINDALERA                      51
                                                      ..
CDM WILFRED AGBONAVBARE                                3
CDM ENTREVIAS                                          3
BASE SAMUR 4                                           3
CMM SAN DIEGO                                          2
CSS CENTRO DE DÍA Y ALZHEIMER ENSANCHE DE VALLECAS     2
Name: count, Length: 137, dtype: int64

In [46]:
df_solar_filt["USO"].value_counts()

USO
cultural          1028
social             865
deportivo          829
educativo          784
administrativo     542
mixto              291
seguridad          266
medioambiental     204
sanitario          116
almacén             39
deportivo            9
Name: count, dtype: int64

In [48]:
df_solar_filt["CÁLCULO"].value_counts()

CÁLCULO
Estimación    3498
Medición      1475
Name: count, dtype: int64

In [49]:
columnas_drop=["CÁLCULO", "AÑO", "MES", "CENTRO", "USO"]

In [51]:
df_solar_filt2 = df_solar_filt.drop(columns=columnas_drop)
print("Tamaño del tablón inicia: ", df_solar_filt.shape)
print("Tamaño del tablón nuevo: ", df_solar_filt2.shape)

Tamaño del tablón inicia:  (4973, 11)
Tamaño del tablón nuevo:  (4973, 6)

In [52]:
df_solar_filt2.dtypes.value_counts()

float64    5
object     1
Name: count, dtype: int64

### Reducción de variables
Importancia de variables

In [30]:
# generar la lista de features y la variable target
target = 'Cumulative_solar_power'
features = [x for x in df_solar_filt.columns if x != target]

print(target)
print(features)

Cumulative_solar_power
['date', 'kWh electricity/day', 'Gas/day']

In [ ]:
df_solar_filt2